
<%= content_for(:navbar_class, "navbar-home") %>

<div class="container-home">

    <div class="header-home">
        <div class="home-title header__bg text-left">
          <div class="main-title " id="main-title">
            <div class="image-home">
              <%= image_tag "Karl Blanc.png" %>
            </div>
          </div>
        </div>
    </div>

    <div class="body-home">
      <div class="comment-form">
        <div class="comment-form-text">
          <p>Karl vous aide à vendre votre voiture au meilleur prix et rapidement. <br/> Commençons par l’estimation:</p>
        </div>
        <div class="first-form">
          <%= simple_form_for @car do |f| %>
          <div class="form-component-1">
            <div class="form-component-1-1">
              <%= f.input :registration_number, as: :string, id:"reg-number", placeholder:"EG258MA", label:"Numéro d'immatriculation"%>
            </div>
            <div class="form-component-1-2">
              <div class="form-component-1-2-1">
                <%= f.input :estimated_kilometers, as: :range, :as => :hidden, input_html: { id: 'trueSlider'}%>
              </div>
              <label for="ex11">Kilométrage estimé</label>
              <input id="ex11" type="text"/>
            </div>
          </div>
          <div class="form-component-2">
            <%= f.submit "Découvrez le vrai prix de votre voiture !", class: "btn-hover color-5" %>
          </div>
          <% end %>
        </div>
      </div>
    </div>
</div>
