
<div class="container-damages-edit">

  <div class="title-damages-edit">
    <h5>Votre dommage:</h5>
  </div>

  <div class="final-validation-line">
  </div>

  <div class="simple-form-damages-edit">
    <%= simple_form_for [@car, @damage] do |f| %>

      <div class="title-damage-edit">
        <%= f.input :title, label: "Titre:", as: :string %>
      </div>

      <div class="description-damage-edit">
        <%= f.input :description, label: "Description:",as: :text %>
      </div>

      <div class="photo-edit">
        <h5>Ajouter des photos:</h5>
        <div class="final-validation-line">
        </div>
        <div class="photo-upload-features">
          <%= f.input :picture_1, label: "Photo n°1:", class: "photo-upload", capture: "camera"%>
          <%= f.input :picture_1_cache, as: :hidden, class: "photo-upload"%>
        </div>
      </div>
  </div>
  <div class="damage-edit-button">
    <%= f.submit "Submit", class: "btn-hover color-5" %>
  </div>
    <%end%>
</div>

