<h1>Votre dommage:</h1>

<%= simple_form_for [@car, @damage] do |f| %>
  <div class="title-damage-edit">
    <p>Titre:</p>
    <%= f.input :title, as: :string %>
  </div>
  <div class="description-damage-edit">
    <p>description de votre dommage:</p>
    <%= f.input :description, as: :text %>
  </div>
  <div class="photo-edit">
    <h3>Ajouter des photos du dommage</h3>
    <div class="photo-upload-features">
<!--       <%#= f.input :picture_1, class: "photo-upload" %>
 --><!--       <input type="file" name="camera" id="camera" accept="image/*" capture="camera" /> -->
      <label for="damage[picture_1]">picture 1</label>
      <input class="form-control-file file optional" type="file" name="damage[picture_1]" id="damage_picture_1 camera" accept="image/*" capture="camera" >

      <%= f.input :picture_1_cache, as: :hidden, class: "photo-upload" %>
      <%= f.input :picture_2, class: "photo-upload"  %>
      <%= f.input :picture_2_cache, as: :hidden, class: "photo-upload" %>
      <%= f.input :picture_3, class: "photo-upload" %>
      <%= f.input :picture_3_cache, as: :hidden, class: "photo-upload" %>
    </div>
  </div>
  <%= f.submit "Submit", class: "btn btn-primary" %>
<%end%>
