<div class="container">
  <div class="formDamage1">
    <p>Avez-vous des dommages sur votre voiture ?</p>
    <p class="btn btn-primary" id="submit-yes-damage">Yes</p>
    <%= link_to "No", final_validation_car_path(@car), class: "btn btn-danger" %>
  </div>

  <div id="form-damage">
    <div class="choose-form-damage-nature">
      <p>Quelle est la nature de votre dommage ?</p>
      <ul class="damages-type">
        <li data-name="Carrosserie" class="btn" data-target="form-carrosserie">
          <i class="fas fa-car-crash"></i>
          <h4 id="damages-type-font">Carrosserie</h4>
        </li>
        <li data-name="Mécanique" class='btn' data-target="form-mecanique">
          <i class="fas fa-wrench"></i>
          <h4 id="damages-type-font">Mécanique</h4>
        </li>
      </ul>
    </div>

    <div class="form-damage-nature" id="form-carrosserie">
      <%= simple_form_for [@car, @damage] do |f| %>
        <%= f.input :nature, as: :hidden %>
        <ul>
          <% Damage::CARROSSERIE.each do |damage| %>
          <li class="btn" data-value="<%= damage %>">
            <%= damage %>
          </li>
          <% end %>
        </ul>
        <%= f.input :title, as: :hidden, input_html: { id: 'true-title'}%>
        <div class="photo-damages">
          <%= f.input :picture_1, class: "photo-upload" %>
          <%= f.input :picture_1_cache, as: :hidden, class: "photo-upload" %>
          <%= f.input :picture_2, class: "photo-upload"  %>
          <%= f.input :picture_2_cache, as: :hidden, class: "photo-upload" %>
          <%= f.input :picture_3, class: "photo-upload" %>
          <%= f.input :picture_3_cache, as: :hidden, class: "photo-upload" %>
        </div>
        <%= f.input :description, as: :text %>
        <%= f.submit "Finaliser", class: "btn btn-primary"%>
      <% end %>

    </div>
    <div class="form-damage-nature" id="form-mecanique">
      Hello
    </div>
  </div>
</div>
