<div class="karl-container">

<h1>Validez votre annonce</h1>

  <!-- les photos -->
  <div class="add-picture-wrapper">

  <%= cl_image_tag @car.photo_3, height: 300, width: 400, crop: :fill %>
  <%= cl_image_tag @car.photo_2, height: 300, width: 400, crop: :fill %>
  <%= cl_image_tag @car.photo_1, height: 300, width: 400, crop: :fill %>

  </div>

  <div class="add-info-wrapper">

    <div>
      <p><%= @car.model_type %> <%= @car.model_version %></p>
      <p><%= @car.first_registration_date %></p>
    </div>

    <div>
      <p><%= @car.fiscal_horsepower %></p>
      <p><%= @car.fuel_type %></p>
    </div>

    <div>
      <p><%= @car.gearbox %></p>
      <p><%= @car.door_number %></p>
    </div>

    <div>
      <p><%= @car.exact_kilometer %></p>
    </div>
  </div>

  <div class="add-description-wrapper">

    <p>Votre annonce:</p>
    <p>"Bonjour, je vend ma <%= @car.car_brand %> <%= @car.model_type %> sur <%= car.location %>. Je dois m'en séparer car je <%= @car.why_selling? %>."</p>


  </div>

  <div class="add-final-price">
      <p><%= @car.estimated_price %></p>
  </div>


<!-- le lien pour l'étape suivante-->
<%= link_to final_message_car_path(@car) do %>
  <button class="btn btn_primary">Validate</button>
<%end%>

</div>
