<div class="karl-container">

  <div class="progress">
    <div class="progress-bar" role="progressbar" aria-valuenow="70"
     aria-valuemin="0" aria-valuemax="100" style="width:95%">
    </div>
  </div>

  <div class="final-validation-title">
    <h3 style="text-align:center">Récapitulatif</h3>
  </div>

  <div class="add-picture-wrapper">
    <div class="container-caroussel">
      <% if @car.photo_1.file.nil?%>
        <div >  <%= image_tag "avantgarde-concept-769583-unsplash.jpg", width: 400%></div>
      <% else %>
<!--       <div class="carousel">
        <input type="radio" id="carousel-1" name="carousel[]" checked>
        <input type="radio" id="carousel-2" name="carousel[]">
        <input type="radio" id="carousel-3" name="carousel[]">
        <ul class="carousel__items">
          <li class="carousel__item"><img src="<%#= @car.photo_1%>" alt=""></li>
          <li class="carousel__item"><img src="<%#= @car.photo_2%>" alt=""></li>
          <li class="carousel__item"><img src="<%#= @car.photo_3%>" alt=""></li>
        </ul>
         <div class="carousel__prev">
          <label for="carousel-1"></label>
          <label for="carousel-2"></label>
          <label for="carousel-3"></label>
         </div>
         <div class="carousel__next">
           <label for="carousel-1"></label>
           <label for="carousel-2"></label>
           <label for="carousel-3"></label>
         </div>
         <div class="carousel__nav">
           <label for="carousel-1"></label>
           <label for="carousel-2"></label>
           <label for="carousel-3"></label>
         </div>
      </div> -->

      <div id="myCarousel" class="carousel slide" data-ride="carousel">

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <img src="<%= @car.photo_1%>" alt="">
          </div>

          <div class="item">
            <img src="<%= @car.photo_2%>" alt="">
          </div>

          <div class="item">
            <img src="<%= @car.photo_3%>" alt="">
          </div>
        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>

       <% end %>
     </div>
  </div>

  <div class="final-validation-second-title">
    <h5>Fiche technique</h5>
  </div>

  <div class="final-validation-line">
  </div>

  <div class="ad-info-wrapper">
    <div class="info-row-1" >
      <p>Marque: <%= @car.car_brand %></p>
      <p>Version: <%= @car.model_type %> <%= @car.model_version %></p>
      <p>Première immatriculation: <%= @car.registration_date %></p>
    </div>

    <div class="info-row-2" style='text-align: center'>
      <div class="col-xs-4" style='display:inline-block'>
        <div style="padding:10px"> <%= image_tag "001-horse.png" %> </div>
        <p><%= @car.fiscal_horsepower %> CH</p>
      </div>
      <div class="col-xs-4" style='display:inline-block'>
        <div style="padding:10px"> <%= image_tag "001-fuel.png" %> </div>
         <% if @car.fuel_type == "gasoline" %>
         <p><%= "Essence" %></p>
        <% else %>
          <p><%= "Diesel" %></p>
        <% end %>
      </div>
      <div class="col-xs-4" style='display:inline-block'>
        <div style="padding:10px"> <%= image_tag "002-gearbox.png" %> </div>
        <% if @car.gearbox == "M" %>
         <p><%= "Manuel" %></p>
        <% else %>
          <p><%= "Automatique" %></p>
        <% end %>
      </div>
    </div>
  </div>

  <div class="ad-detail-wrapper">
    <div class="title-ad-detail-wrapper">
      <h5>Détails supplémentaires</h5>
    </div>

    <div class="final-validation-line">
    </div>

    <div class="ad-detail-wrapper-details">
      <p>Nombres de places: <%= @car.seating_place_number %></p>
      <p>Kilométrage: <%= @car.exact_kilometer %></p>
    </div>
  </div>

  <div class="damages">
    <h6>Dommages éventuels</h6>
    <% @car.damages.each do |damage| %>
    <div class="damage">
      <h6><%= damage.title %></h6>
      <p><%= damage.description %></p>
      <div class="container-caroussel">
        <% if @car.photo_1.file.nil?%>
          <div >  <%= image_tag "avantgarde-concept-769583-unsplash.jpg", width: 400%></div>
        <% else %>
        <div class="carousel">
          <input type="radio" id="carousel-4" name="carousel[]" checked>
          <input type="radio" id="carousel-5" name="carousel[]">
          <input type="radio" id="carousel-6" name="carousel[]">
          <ul class="carousel__items">
            <li class="carousel__item"><img src="<%= damage.picture_1%>" alt=""></li>
            <li class="carousel__item"><img src="<%= damage.picture_2%>" alt=""></li>
            <li class="carousel__item"><img src="<%= damage.picture_3%>" alt=""></li>
          </ul>
           <div class="carousel__prev">
            <label for="carousel-4"></label>
            <label for="carousel-5"></label>
            <label for="carousel-6"></label>
           </div>
           <div class="carousel__next">
             <label for="carousel-4"></label>
             <label for="carousel-5"></label>
             <label for="carousel-6"></label>
           </div>
           <div class="carousel__nav">
             <label for="carousel-4"></label>
             <label for="carousel-5"></label>
             <label for="carousel-6"></label>
           </div>
         </div>
         <% end %>
       </div>
      <div class="button-damage">
        <%= link_to edit_car_damage_path(@car, damage) do %>
          <button class="btn btn-custom-2">Modifier</button>
        <% end %>
        <%= link_to 'Supprimer',
                 car_damage_path(@car, damage),
                             method: :delete,
                             data: { confirm: 'Are you sure?' },
                             class: "btn btn-custom-1" %>
        <% end %>
          <div class="damage-question-button">
            <%= link_to new_car_damage_path(@car) do %>
              <button class="btn btn_primary">Ajouter un dommage</button>
            <% end %>
          </div>
      </div>
    </div>
  </div>

  <div class="final-validation-last-modification">

    <div class="final-validation-third-title">
      <h5>Personnalisez votre annonce</h5>
    </div>

    <div class="final-validation-line">
    </div>

    <%= simple_form_for(@car) do |f| %>
    <div class="ad-form-wrapper-1">

      <%= f.input :announce_description, label: "Description",input_html:{value: f.object.announce_description.presence || "Bonjour, je vend ma #{@car.car_brand} #{@car.model_type} sur #{@car.location}. Je dois m'en séparer car je #{@car.why_selling?}"}%>
    </div>

    <div class="ad-form-wrapper-2">
      <%= f.input :given_price, label: "Prix", as: :integer, input_html:{value: f.object.given_price.presence || "#{@car.estimated_price}"}%>
    </div>

    <div class="ad-form-wrapper-3">
      <%= f.submit "Modifier", label: "Poster votre annonce", class: "btn btn-custom-2"%>
    </div>
    <%end%>

  </div>


  <div class="final-step-button">
    <%= link_to final_message_car_path(@car) do %>
      <button class="btn-hover color-5">Je valide !</button>
    <%end%>
  </div>

</div>
