<div class ="container" class="first-estimation-body">
  <div class="first-estimation-text col-xs-12">
    <h5>Première estimation</h5>
    <p>Notre algorythme a évalué le marché.</p>
    <p>Gagnez <strong style="font-size:20px" class="black-matter price-size"><%= ((@car.estimated_price)-(@car.estimated_price / 1.3)).round%>€</strong> grâce à <strong class="black-matter">Karl</strong>,<br/>et générez automatiquement votre annonce.<br/>En moins de 3 minutes.</p>
  </div>

  <div class="info-row" >
    <div class="col-xs-6" id="karl-estimation" style='display:inline-block'>
      <div class="first-estimation-price-2">
        <p class="black-matter"><strong><%= number_to_currency((@car.estimated_price), unit:"€", format: "%n %u", precision: 0) %></strong></p>
      </div>
    </div>
    <div class="col-xs-6" id="seller-estimation" style='display:inline-block; text-align: center'>
      <div class="seller-estimation-price-2">
        <p class="black-matter"><%= number_to_currency((@car.estimated_price / 1.3), unit:"€", format: "%n %u", precision: 0) %></p>
      </div>
    </div>
  </div>

  <div id=chart>
    <canvas id="myChart" data-prices="<%= @car_prices.to_json%>"></canvas>
  </div>

  <div class="info-row-2">
    <div class="col-xs-6" id="karl-estimation" style='display:inline-block'>
      <div class="karl-estimation-price-1">
        <p class="black-matter">Acheteur particulier</p>
      </div>
    </div>
    <div class="col-xs-6" id="seller-estimation" style='display:inline-block; text-align: center'>
      <div class="seller-estimation-price-1">
        <p class="black-matter">Acheteur professionnel</p>
      </div>
    </div>
  </div>



  <div class="first-estimation-button">
    <%= link_to start_car_path(@car) do %>
    <div class="first-estimation-button-1">
      <button class="btn-hover color-5">Créez votre annonce !</button>
    </div>
    <%end%>
  </div>
</div>
